@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 15, 23, 42;
}

body {
    color: rgb(var(--foreground-rgb));
    background-color: rgb(var(--background-rgb));
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

.gradient-bg {
    background-image: radial-gradient(
            at 33% 5%,
            rgba(21, 117, 184, 0.5) 0,
            rgba(24, 83, 247, 0) 50%
        ),
        radial-gradient(
            at 66% 21%,
            rgb(14, 152, 140, 0.5) 0,
            rgba(62, 94, 239, 0) 50%
        );
}
